<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>Morpion</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <span id="joue" joue={{joue}}></span>
    <span id="pseudo" pseudo={{pseudo}}></span>
    <script type="text/javascript" src="{{url_for('static', filename='socket.io.min.js')}}"></script>
  </head>
  <body>
    <header>
      <h1>Jeu de Morpion</h1>
    </header>
    <h2 id="chargement">Bienvenue</h1>
    <div align="center"><canvas id="myCanvas" width="600" height="600"></canvas></div>

    {% if chat %}
    <div id="chat">
      <label>message: </label><input onkeypress="envoi(event)" name="champ" id="entree" type="text" maxlength="50"/>
      <textarea id="discussion" disabled="on"></textarea>
    </div>
    {% endif %}

    <div id="score">
      <table>
        <caption>
          <h3>
            <strong>Score :</strong>
          </h3>
        </caption>
        <tr>
          <td><h4>Moi</h4></td>
          <td><h4 id="nom_adv">{{adversaire}}</h4></td>
        </tr>
        <tr>
          <td><p id="score_moi">0</p></td>
          <td><p id="score_adv">0</p></td>
        </tr>
      </table>
    </div>

    <script language="JavaScript" src="{{url_for('static', filename='jeu.js')}}"></script>

    {%if chat %}
    <script type="text/javascript" src="{{url_for('static', filename='chat.js')}}"></script>
    {% endif %}

    <h3 class="rejouer" onclick="veut_rejouer()">Rejouer</h3>
    <footer>
      <p>
        Vous êtes: {{["X", "O"][joue]}}<br/>
        numero joueur: {{client_number}}<br/>
        pseudo: {{pseudo}}
      </p>
    </footer>
  </body>
</html>
